<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "鲁克微博", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
			<% if logged_in? %>
				<li><%= link_to "发微博",	root_path %></li>
			<% else %>
				<li><%= link_to "主页",	root_path %></li>
			<% end %>
				<li><%= link_to "帮助",	help_path %></li>
				<!-- 用户模块和非用户模块 -->
				<% if logged_in? %>
					<li><%= link_to "用户列表", users_path %></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%= current_user.name %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "我的主页", current_user %></li>
							<li><%= link_to "设置", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "登出", logout_path, method: "delete" %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "注册微博",signup_path %></li>
					<li><%= link_to "登陆", login_path %></li>
				<% end %></ul>
		</nav>
	</div>
</header>